body {
    background-color: rgb(249, 238, 224);
}

.header {
    background-color: bisque;
    font-size: 56px;
}

.head {
    color: darkblue;
    background-color: bisque;
    font-weight: bolder;
    font-size: 24px;
}

.tags {
    background-color: teal;
    color: white;
}

